{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watching List</h2>
    
    <div class="row mx-3 my-3">
    {% for element in listings %}
    <div class="card" style="width: 15rem;">
        <img src="{{element.image_url}}" class="card-img-top" alt="{{element.title}}">
        <div class="card-body">
            <a href="{% url 'detail' pk=element.id %}" class="text-dark text-decoration-non"><h5>{{ element.title }}</h5></a>
          <p class="card-text">{{element.description|truncatechars:100}}</p>
        </div>
      </div>
    {% endfor %}
    </div>
    
{% endblock %}